table{
    border: 2px solid  pink;
    border-collapse: collapse;
}


th, td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding:20px;
    vertical-align: middle;
    text-align: center;
    max-width: 550px;
  }

  #tablaAda th {
    background-color :#bc3b69;
    color: white;
  }

  #tablaAda tr:hover {
    background-color: lightgray;
  }

  tr:nth-child(even) {
    background-color: pink;
  }
  
 
